<ion-view view-title="Brawnzy">
  <ion-content class="padding">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right card" type="item-text-wrap" ng-repeat="w in workout track by $index" href="#">
          <h2>{{w.name}}</h2>
          <h3>Average Rest Time: {{time(average[$index])}}</h3>
        </ion-item>
      </ion-list>
    </div>

  
  </ion-content>
</ion-view>
