/* Empty. Add your own CSS if you like */
.scroll {
	height: 100%;
}

#map {
	width: 100%;
	height: 90%;
}

.card{
	border-top-width: 4px;
	border-top-color: #E88D1B;
	box-shadow: none !important;
	border-radius: 0 !important;

}

.icon{
	color: #E88D1B;
}
.tab-title{
	color: #BA7115;
}
.tabs, .title, .scroll{
	background-color: white !important;
	border:none !important;
	border-bottom: none;
}
.scroll{
}